body {
		background-image:url(../images/bg3.png);
		background-color: #E8E8E8;
		margin: 0px;
		padding: 0px;
		font-family: Helvetica,Arial,sans-serif;
		font-size: 12px;
	}

div.navbar-brand {
	height: 20px;
}

div.banner {
		background-color: #2b27e8;
		margin: 0px;
		height:100px;
}


.navbar-inverse {
  background-color: #2ecc71;
}


.navbar-inverse > .navbar-nav > .active > a: hover{
	color: #2ecc71;
	background-color: #c0392b;
}